*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@media (max-width:1536px)
{
    .navbar
    {
        width: 100%;
        height: 140px;
    }
    .navbarcontainer
    {
        width: 70%;
        height: 140px;
        margin: auto;
    }
    .up
    {
        position: relative;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .up a
    {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    .up a input
    {
        display: block;
        position: absolute;
        top: 22px;
        left: 22px;
        width: 15%;
        border: 0px;
        outline: 0px;
        font-size: 22px;
        font-family: Cedar;
        font-weight: 200;
    }
    .up a input::placeholder
    {
        color: black;
    }
    .up h1
    {
        color: black;
        font-size: 26px;
        text-align: center;
        font-family: Audrey;
    }
    .up p
    {
        color: black;
        font-size: 22px;
        text-align: center;
        font-family: cedar;
    }
    .down
    {
        width: 100%;
        height: 50px;
    }
    .down ul
    {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .down ul li
    {
        list-style: none;
    }
    .down ul li a
    {
        text-decoration: none;
        color: black;
        font-size: 22px;
        text-align: center;
        font-family: cedar;
    }

    .banner1
    {
        width: 100%;
        height: 820px;
        position: relative;
        background-image: url('images/1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner1 .content
    {
        position: absolute;
        width: 100%;
        height: 820px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner1 .quote
    {
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-family: Cedar;
    }
    .banner1 .subquote
    {
        color: white;
        font-size: 18px;
        font-family: Cedar;
    }
    .banner1 .shop-link a
    {
        text-decoration: none;
        color: white;
        font-size: 11px;
        text-transform: uppercase;
    }

    .pibanner
    {
        width: 100%;
        height: auto;
    }
    .picontainer
    {
        width: 70%;
        height: auto;
        margin: auto;
    }
    .picontainer .welcome
    {
        font-size: 18px;
        font-family: cedar;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .picontainer .intro
    {
        font-size: 15px;
        font-family: cedar;
        color: black;
        text-align: center;
    }

    .pbanner
    {
        width: 100%;
    }
    .pcontainer
    {
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,258.5px);
        grid-template-rows: repeat(2,400px);
        gap: 10px;
    }
    .pcontainer .box
    {
        width: 258.5px;
        height: 400px;
        background-color: black;
        position: relative;
        align-content: center;
    }
    .box a img
    {
        top: 0px;
        width: 258.5px;
        height: 400px;
        position: absolute;
        transition: 0.5s;
    }
    .box:hover a img
    {
        opacity: 0.8;
    }
    .box a p
    {
        display: none;
        position: absolute;
        bottom: 0px;
        left: 5%;
        width: 90%;
        font-size: 15px;
        font-family: cedar;
        color: white;
        text-align: center;
        text-transform: lowercase;
        transition: 0.5s;
    }
    .box:hover a p
    {
        display: block;     
    }

    .banner2
    {
        width: 100%;
        height: 820px;
        position: relative;
        background-image: url('images/2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner2 .content
    {
        position: absolute;
        width: 100%;
        height: 820px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner2 .quote
    {
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-family: Cedar;
    }
    .banner2 .subquote
    {
        color: white;
        font-size: 18px;
        font-family: Cedar;
    }
    .banner2 .shop-link a
    {
        text-decoration: none;
        color: white;
        font-size: 11px;
        text-transform: uppercase;
    }

    .banner3
    {
        position: relative;
        width: 100%;
        height: 410px;
        background-image: url('images/aboutus.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner3 p
    {
        width: 70%;
        color: white;
        font-size: 18px;
        font-family: Cedar;
        text-align: center;
        text-transform: lowercase;
    }

    .banner4
    {
        position: relative;
        width: 100%;
        height: 410px;
        background-image: url('images/socials2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner4 p
    {
        width: 70%;
        color: white;
        font-size: 18px;
        font-family: Cedar;
        text-align: center;
        text-transform: lowercase;
    }
    .socials a
    {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    footer
    {
        width: 100%;
    }
    .footercontainer
    {
        width: 70%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .footercontainer .box
    {
        width: 32%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .footercontainer .box p
    {
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-family: Cedar;
        text-align: center;
    }
    .footercontainer .box a
    {
        text-decoration: none;
        color: black;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-Width:769px)
{
    .navbar
    {
        width: 100%;
        height: 120px;
    }
    .navbarcontainer
    {
        width: 70%;
        height: 120px;
        margin: auto;
    }
    .up
    {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .up a
    {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    .up a input
    {
        display: none;
    }
    .up h1
    {
        color: black;
        font-size: 24px;
        text-align: center;
        font-family: Audrey;
    }
    .up p
    {
        color: black;
        font-size: 20px;
        text-align: center;
        font-family: Cedar;
    }
    .down
    {
        width: 100%;
        height: 40px;
    }
    .down ul
    {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .down ul li
    {
        list-style: none;
    }
    .down ul li a
    {
        text-decoration: none;
        color: black;
        font-size: 20px;
        text-align: center;
        font-family: Cedar;
    }

    .banner1
    {
        width: 100%;
        height: 600px;
        position: relative;
        background-image: url('images/1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner1 .content
    {
        position: absolute;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner1 .quote
    {
        color: white;
        font-size: 15px;
        font-weight: bold;
        font-family: Cedar;
    }
    .banner1 .subquote
    {
        color: white;
        font-size: 13px;
        font-family: Cedar;
    }
    .banner1 .shop-link a
    {
        text-decoration: none;
        color: white;
        font-size: 8px;
        text-transform: uppercase;
    }

    .pibanner
    {
        width: 100%;
        height: auto;
    }
    .picontainer
    {
        width: 70%;
        height: auto;
        margin: auto;
    }
    .picontainer .welcome
    {
        font-size: 16px;
        font-family: cedar;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .picontainer .intro
    {
        font-size: 13px;
        font-family: cedar;
        color: black;
        text-align: center;
    }

    .pbanner
    {
        width: 100%;
    }
    .pcontainer
    {
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,263.5px);
        grid-template-rows: repeat(4,400px);
        gap: 10px;
    }
    .pcontainer .box
    {
        width: 263.5px;
        height: 400px;
        background-color: black;
        position: relative;
        align-content: center;
    }
    .box a img
    {
        width: 263.5px;
        height: 400px;
        position: absolute;
        transition: 0.5s;
    }
    .box:hover a img
    {
        opacity: 0.8;
    }
    .box a p
    {
        display: none;
        position: absolute;
        bottom: 0px;
        left: 5%;
        width: 90%;
        font-size: 13px;
        font-family: cedar;
        color: white;
        text-align: center;
        text-transform: lowercase;
        transition: 0.5s;
    }
    .box:hover a p
    {
        display: block;     
    }

    .banner2
    {
        width: 100%;
        height: 600px;
        position: relative;
        background-image: url('images/2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner2 .content
    {
        position: absolute;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner2 .quote
    {
        color: white;
        font-size: 15px;
        font-weight: bold;
        font-family: Cedar;
    }
    .banner2 .subquote
    {
        color: white;
        font-size: 13px;
        font-family: Cedar;
    }
    .banner2 .shop-link a
    {
        text-decoration: none;
        color: white;
        font-size: 8px;
        text-transform: uppercase;
    }

    .banner3
    {
        position: relative;
        width: 100%;
        height: 300px;
        background-image: url('images/aboutus.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner3 p
    {
        width: 70%;
        color: white;
        font-size: 13px;
        font-family: Cedar;
        text-align: center;
        text-transform: lowercase;
    }

    .banner4
    {
        position: relative;
        width: 100%;
        height: 300px;
        background-image: url('images/socials2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner4 p
    {
        width: 70%;
        color: white;
        font-size: 13px;
        font-family: Cedar;
        text-align: center;
        text-transform: lowercase;
    }
    .socials a
    {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    footer
    {
        width: 100%;
    }
    .footercontainer
    {
        width: 70%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .footercontainer .box
    {
        width: 32%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .footercontainer .box p
    {
        color: black;
        font-size: 15px;
        font-weight: bold;
        font-family: Cedar;
        text-align: center;
    }
    .footercontainer .box a
    {
        text-decoration: none;
        color: black;
        font-size: 10px;
        text-align: center;
    }
}

@media (max-Width:480px)
{
    .navbar
    {
        width: 100%;
        height: 100px;
    }
    .navbarcontainer
    {
        width: 70%;
        height: 100px;
        margin: auto;
    }
    .up
    {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .up a
    {
        text-decoration: none;
        color: black;
    }
    .up a input
    {
        display: none;
    }
    .up h1
    {
        color: black;
        font-size: 18px;
        text-align: center;
        font-family: Audrey;
    }
    .up p
    {
        color: black;
        font-size: 15px;
        text-align: center;
        font-family: Cedar;
    }
    .down
    {
        width: 100%;
        height: 30px;
    }
    .down ul
    {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .down ul li
    {
        list-style: none;
    }
    .down ul li a
    {
        text-decoration: none;
        color: black;
        font-size: 15px;
        text-align: center;
        font-family: Cedar;
    }

    .banner1
    {
        width: 100%;
        height: 400px;
        position: relative;
        background-image: url('images/1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner1 .content
    {
        position: absolute;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner1 .quote
    {
        color: white;
        font-size: 10px;
        font-weight: bold;
        font-family: Cedar;
    }
    .banner1 .subquote
    {
        color: white;
        font-size: 8px;
        font-family: Cedar;
    }
    .banner1 .shop-link a
    {
        text-decoration: none;
        color: white;
        font-size: 5px;
        text-transform: uppercase;
    }

    .pibanner
    {
        width: 100%;
        height: auto;
    }
    .picontainer
    {
        width: 70%;
        height: auto;
        margin: auto;
    }
    .picontainer .welcome
    {   
        width: 70%;
        margin-left: 15%;
        font-size: 14px;
        font-family: cedar;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .picontainer .intro
    {
        font-size: 11px;
        font-family: cedar;
        color: black;
        text-align: center;
    }

    .pbanner
    {
        width: 100%;
    }
    .pcontainer
    {
        width: 70%;
        margin: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1,106.5px);
        grid-template-rows: repeat(8,150px);
        gap: 10px;
    }
    .pcontainer .box
    {
        width: 106.5px;
        height: 150px;
        background-color: black;
        position: relative;
        display: flex;
        align-content: center;
    }
    .box a img
    {
        width: 106.5px;
        height: 150px;
        position: absolute;
        transition: 0.5s;
    }
    .box:hover a img
    {
        opacity: 0.8;
    }
    .box a p
    {
        display: none;
        position: absolute;
        bottom: 0px;
        left: 5%;
        width: 90%;
        font-size: 11px;
        font-family: cedar;
        color: white;
        text-align: center;
        text-transform: lowercase;
        transition: 0.5s;
    }
    .box:hover a p
    {
        display: block;  
    }

    .banner2
    {
        width: 100%;
        height: 400px;
        position: relative;
        background-image: url('images/2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner2 .content
    {
        position: absolute;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner2 .quote
    {
        color: white;
        font-size: 10px;
        font-weight: bold;
        font-family: Cedar;
    }
    .banner2 .subquote
    {
        color: white;
        font-size: 8px;
        font-family: Cedar;
    }
    .banner2 .shop-link a
    {
        text-decoration: none;
        color: white;
        font-size: 5px;
        text-transform: uppercase;
    }

    .banner3
    {
        position: relative;
        width: 100%;
        height: 200px;
        background-image: url('images/aboutus.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner3 p
    {
        width: 70%;
        color: white;
        font-size: 8px;
        font-family: Cedar;
        text-align: center;
        text-transform: lowercase;
    }

    .banner4
    {
        position: relative;
        width: 100%;
        height: 200px;
        background-image: url('images/socials2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner4 p
    {
        width: 70%;
        color: white;
        font-size: 8px;
        font-family: Cedar;
        text-align: center;
        text-transform: lowercase;
    }
    .socials a
    {
        text-decoration: none;
        color: white;
        font-size: 10px;
    }

    footer
    {
        width: 100%;
    }
    .footercontainer
    {
        width: 70%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .footercontainer .box
    {
        width: 32%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .footercontainer .box p
    {
        color: black;
        font-size: 10px;
        font-weight: bold;
        font-family: Cedar;
        text-align: center;
    }
    .footercontainer .box a
    {
        text-decoration: none;
        color: black;
        font-size: 5px;
        text-align: center;
    }
}

@font-face {
    font-family: Audrey;
    src: url(fonts/Audrey-Normal.otf);
}
@font-face {
    font-family: Cedar;
    src: url(fonts/CedarvilleCursive-Regular.ttf);
}